<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/scripts/script.js" defer></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Sixtyfour:SCAN@5&display=swap" rel="stylesheet">
    <title>Squadpage</title>
  </head>
  <body>
    <header>
<nav>
  <ul>
    <li>kopers</li>
    <li>verkopers</li>
    <li>my profile</li>
  </ul>
</nav>
    </header>  