<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/scripts/script.js" defer></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Sixtyfour:SCAN@5&display=swap" rel="stylesheet">
    <title>funda favorittenhouses</title>
  </head>
  <body>
    <header>
      <a href="https://www.funda.nl/koop/assendelft/huis-42349645-pronkgevel-1/">
        <img alt="logo funda" class="log-funda" src="images/fundawonen-logo.svg">
      </a>

      <button class="hamburger-icon" type="button"><img alt="menu icoon" src="images/icons/mobileMenu.svg">
      </button>

      <nav class="menu">

        <ul class="menu-ul" role="menu">
          <li class="menu__li carousel-images__no-dot"><a class="menu-link" href="#" role="menuitem">kopen</a></li>
          <li class="menu__li carousel-images__no-dot"><a class="menu-link" href="#" role="menuitem">huren</a></li>
          <li class="menu__li carousel-images__no-dot"><a class="menu-link" href="#" role="menuitem">verkopen</a></li>
          <li class="menu__li carousel-images__no-dot"><a class="menu-link" href="#" role="menuitem">Mijn huis</a>
          <li class="menu__li carousel-images__no-dot"><a href="/" role="menuitem">bewaarde huizen</a>
          </li>
          <li class="menu__li carousel-images__no-dot">
            <button role="button" type="button" class="login-button"><img alt="login icoon" src="images/icons/logIn.svg"></button>
          </li>
        </ul>

      </nav>
    </header>  