@font-face {
  font-family: "proximanova";
  src: url("public/assets/font/ProximaNova-Regular_2607783814.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: proximanova, sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
  --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
  --white: #ffffff;
  --orange: #F7A100;
  --black: #333333;

  --margin-input-fields: 0 0 1em 0;
  --margin-2-em: 2em;
}


header {
  background-color: var(--orange
  );
  position: relative;
  color: var(--black);

}

.log-funda {
  width: 150px;

}

.menu-ul, .menu-ul-second {
  display: none;
}

.menu-ul-open {
  display: block;
  margin: 1em 0 0 0;
}

.menu-ul-second-open {

  margin: -1em 0 0 0;
}

.header-menu-open {
  height: 15em;
}

.menu {
  background-color: var(--orange
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-icon {
  position: relative;
  left: 2em;
  background-color: var(--orange);
  top:-1em
}

.login-button {
  background-color: var(--orange);
}
.iconlogin{
  margin-bottom: 2em;
}

.hamburger-icon:hover {
  background-color: var(--blue);
}

.menu-link {
  color: var(--black);
  text-decoration: none;
}


a:hover {

  text-decoration-line: underline;
}

.filter-section {

  margin: 2em 0 0 2em;
}
.styling-searchbutton{
  background-color: var(--orange);
  border: none;
  font-size: 1.2em;

}
#filters{
  font-size: 0.9em;
}
article {
  border: 1px solid #ddd;
  margin: 1em 2em 0 0;


}


.image-size {
  width: 200px;
}

.wonen {
  /*margin-top: 0.5em;*/
  margin: 0.5em 0 0 0;

}

.icons-house {
  margin: 0 0.8em 0 0;
  font-size:1.2em;
}

.beschrijving {
  font-size: 1.2em;
}

li {
  list-style-type: none;
}

@media only screen and (min-width: 650px) {
  header {
    background-color: var(--orange);
    display: flex;
    align-items: center;
    color: var(--black);
    max-width: 100%;
    justify-content: space-between;
    height: 5em;
  }

  .log-funda {
    top: -5px
  }
  .iconlogin{
    margin-bottom: 0em;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-ul {
    display: flex;
    row-gap: 1em;
    flex-direction: row;

  }

  .header-menu a.log-funda {
    margin-right: 1em;
  }

  .li-tems-menu {
    margin-right: 1em;
  }

  a.log-funda {
    margin-right: 2em;
  }

  .hamburger-icon {
    display: none;
  }
}
.search-tekst{
  font-size: 1.4em;
}
.list-houses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));/*iedere keer word er een colum toegevoegd van 300px en blijft er een ruimte van 1fr over*/
  grid-gap: 44px;
  border-top: solid #dddddd;
  margin: 2em 2em 0 2em;
}

.grid-items-house {
  display: grid;
  row-gap: 6px;
}
.grid-items-house li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.heart {
  display: flex;
  justify-content: flex-start;

}



@media (min-width: 1000px) {
  .list-houses {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
