@font-face {
  font-family: "proximanova";
  src: url("/font/ProximaNova-Regular_2607783814.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: proximanova, sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
  --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
  --white: #ffffff;
  --orange: #F7A100;
  --black: #333333;

  --margin-input-fields: 0 0 1em 0;
  --margin-2-em:2em;
}


header {
  background-color: orange;
  position: relative;
  color: #1A1A1A;
  /*max-width: 100%;*/
  width: 100%;
  padding: 2em;
}
.log-funda {
  width: 150px;
}

.menu-ul {
  display: flex;
  margin-top: -15em;
  /*justify-content: space-between;*/
  width: 100%;

}
.menu-ul-open {
  display: block;
  margin-top: 1em;
}
.hamburger-icon {
  position: relative;
  left: 2em;
  top: -1em;
  background-color: var(--orange);
  /*background-color: var(--white);*/
}
.login-button{
  background-color: var(--orange);
}


.hamburger-icon:hover {
  background-color: var(--blue);
}

.menu-link {
  color: #1A1A1A;
  text-decoration: none;
}



a:hover {
  /*color: var(--white);*/
  /*background-color: var(--blue);*/
  text-decoration-line: underline;
}
.list-houses{
  background-color: #f5d5d5;

}
.image-size{
  width: 200px;
}

.beschrijving{
  font-size: 1.2em;
}
.hide-notes{
  display: none;
}
.hide-notes-open{
  display: block;
}

@media only screen and (min-width: 450px) {
  .menu-ul {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;


  }
}

@media only screen and (min-width: 650px) {
  .list-houses{
    display: grid;
    grid-auto-columns: auto auto;
  }
  .ul-one{
    grid-column: 1;
  }
  .ul-two{
    grid-column: 2;
  }
  .grid-items-house {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: auto auto;


  }
  .item{
    grid-column: 2;
  }
  .itemone{
    grid-auto-columns: auto;
    grid-column: 1;
  }
}
@media only screen and (min-width: 1050px) {
  .list-houses{
    display: grid;
    grid-auto-columns: 20em 20em;
  }
  .ul-one{
    grid-column: 1;
  }
  .ul-two{
    grid-column: 2;
  }
  .grid-items-house {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: auto auto;


  }
  .item{
    grid-column: 2;
  }
  .itemone{
    grid-auto-columns: auto;
    grid-column: 1;
  }
}